/*!*******************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./node_modules/flexboxgrid2/flexboxgrid2.css ***!
  \*******************************************************************************************************************************************************************************/
.container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-right: 8px;
  padding-left: 8px;
}

.container-fluid {
  padding-right: 16px;
  padding-left: 16px;
}

@media only screen and (min-width: 576px) {
  .container {
    width: 560px;
    max-width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    width: 752px;
    max-width: 100%;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    width: 976px;
    max-width: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    width: 1184px;
    max-width: 100%;
  }
}
.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -8px;
  margin-left: -8px;
}

.row.reverse {
  flex-direction: row-reverse;
}

.col.reverse {
  flex-direction: column-reverse;
}

.col-xs,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-offset-0,
.col-xs-offset-1,
.col-xs-offset-2,
.col-xs-offset-3,
.col-xs-offset-4,
.col-xs-offset-5,
.col-xs-offset-6,
.col-xs-offset-7,
.col-xs-offset-8,
.col-xs-offset-9,
.col-xs-offset-10,
.col-xs-offset-11,
.col-xs-offset-12,
.col-sm,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-offset-0,
.col-sm-offset-1,
.col-sm-offset-2,
.col-sm-offset-3,
.col-sm-offset-4,
.col-sm-offset-5,
.col-sm-offset-6,
.col-sm-offset-7,
.col-sm-offset-8,
.col-sm-offset-9,
.col-sm-offset-10,
.col-sm-offset-11,
.col-sm-offset-12,
.col-md,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-offset-0,
.col-md-offset-1,
.col-md-offset-2,
.col-md-offset-3,
.col-md-offset-4,
.col-md-offset-5,
.col-md-offset-6,
.col-md-offset-7,
.col-md-offset-8,
.col-md-offset-9,
.col-md-offset-10,
.col-md-offset-11,
.col-md-offset-12,
.col-lg,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-offset-0,
.col-lg-offset-1,
.col-lg-offset-2,
.col-lg-offset-3,
.col-lg-offset-4,
.col-lg-offset-5,
.col-lg-offset-6,
.col-lg-offset-7,
.col-lg-offset-8,
.col-lg-offset-9,
.col-lg-offset-10,
.col-lg-offset-11,
.col-lg-offset-12,
.col-xl,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-offset-0,
.col-xl-offset-1,
.col-xl-offset-2,
.col-xl-offset-3,
.col-xl-offset-4,
.col-xl-offset-5,
.col-xl-offset-6,
.col-xl-offset-7,
.col-xl-offset-8,
.col-xl-offset-9,
.col-xl-offset-10,
.col-xl-offset-11,
.col-xl-offset-12 {
  box-sizing: border-box;
  flex: 0 0 auto;
  flex-basis: 100%;
  padding-right: 8px;
  padding-left: 8px;
  max-width: 100%;
}

.col-xs {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.col-xs-1 {
  flex-basis: 8.33333333%;
  max-width: 8.33333333%;
}

.col-xs-2 {
  flex-basis: 16.66666667%;
  max-width: 16.66666667%;
}

.col-xs-3 {
  flex-basis: 25%;
  max-width: 25%;
}

.col-xs-4 {
  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}

.col-xs-5 {
  flex-basis: 41.66666667%;
  max-width: 41.66666667%;
}

.col-xs-6 {
  flex-basis: 50%;
  max-width: 50%;
}

.col-xs-7 {
  flex-basis: 58.33333333%;
  max-width: 58.33333333%;
}

.col-xs-8 {
  flex-basis: 66.66666667%;
  max-width: 66.66666667%;
}

.col-xs-9 {
  flex-basis: 75%;
  max-width: 75%;
}

.col-xs-10 {
  flex-basis: 83.33333333%;
  max-width: 83.33333333%;
}

.col-xs-11 {
  flex-basis: 91.66666667%;
  max-width: 91.66666667%;
}

.col-xs-12 {
  flex-basis: 100%;
  max-width: 100%;
}

.col-xs-offset-0 {
  margin-left: 0;
}

.col-xs-offset-1 {
  margin-left: 8.33333333%;
}

.col-xs-offset-2 {
  margin-left: 16.66666667%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-4 {
  margin-left: 33.33333333%;
}

.col-xs-offset-5 {
  margin-left: 41.66666667%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-7 {
  margin-left: 58.33333333%;
}

.col-xs-offset-8 {
  margin-left: 66.66666667%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-10 {
  margin-left: 83.33333333%;
}

.col-xs-offset-11 {
  margin-left: 91.66666667%;
}

[dir="ltr"] .start-xs {
  text-align: left;
}

[dir="rtl"] .start-xs {
  text-align: right;
}

.start-xs {
  justify-content: flex-start;
}

.center-xs {
  justify-content: center;
  text-align: center;
}

[dir="ltr"] .end-xs {
  text-align: right;
}

[dir="rtl"] .end-xs {
  text-align: left;
}

.end-xs {
  justify-content: flex-end;
}

.top-xs {
  align-items: flex-start;
}

.middle-xs {
  align-items: center;
}

.bottom-xs {
  align-items: flex-end;
}

.around-xs {
  justify-content: space-around;
}

.between-xs {
  justify-content: space-between;
}

.first-xs {
  order: -1;
}

.last-xs {
  order: 1;
}

.initial-order-xs {
  order: initial;
}

@media only screen and (min-width: 576px) {
  .col-sm {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-sm-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .col-sm-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .col-sm-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-sm-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .col-sm-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .col-sm-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-sm-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .col-sm-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .col-sm-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-sm-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .col-sm-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .col-sm-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-sm-offset-0 {
    margin-left: 0;
  }

  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }

  [dir="ltr"] .start-sm {
    text-align: left;
  }

  [dir="rtl"] .start-sm {
    text-align: right;
  }

  .start-sm {
    justify-content: flex-start;
  }

  .center-sm {
    justify-content: center;
    text-align: center;
  }

  [dir="ltr"] .end-sm {
    text-align: right;
  }

  [dir="rtl"] .end-sm {
    text-align: left;
  }

  .end-sm {
    justify-content: flex-end;
  }

  .top-sm {
    align-items: flex-start;
  }

  .middle-sm {
    align-items: center;
  }

  .bottom-sm {
    align-items: flex-end;
  }

  .around-sm {
    justify-content: space-around;
  }

  .between-sm {
    justify-content: space-between;
  }

  .first-sm {
    order: -1;
  }

  .last-sm {
    order: 1;
  }

  .initial-order-sm {
    order: initial;
  }
}
@media only screen and (min-width: 768px) {
  .col-md,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-offset-0,
.col-md-offset-1,
.col-md-offset-2,
.col-md-offset-3,
.col-md-offset-4,
.col-md-offset-5,
.col-md-offset-6,
.col-md-offset-7,
.col-md-offset-8,
.col-md-offset-9,
.col-md-offset-10,
.col-md-offset-11,
.col-md-offset-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: 8px;
    padding-left: 8px;
  }

  .col-md {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-md-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .col-md-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .col-md-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-md-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .col-md-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .col-md-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-md-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .col-md-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .col-md-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-md-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .col-md-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .col-md-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-md-offset-0 {
    margin-left: 0;
  }

  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }

  [dir="ltr"] .start-md {
    text-align: left;
  }

  [dir="rtl"] .start-md {
    text-align: right;
  }

  .start-md {
    justify-content: flex-start;
  }

  .center-md {
    justify-content: center;
    text-align: center;
  }

  [dir="ltr"] .end-md {
    text-align: right;
  }

  [dir="rtl"] .end-md {
    text-align: left;
  }

  .end-md {
    justify-content: flex-end;
  }

  .top-md {
    align-items: flex-start;
  }

  .middle-md {
    align-items: center;
  }

  .bottom-md {
    align-items: flex-end;
  }

  .around-md {
    justify-content: space-around;
  }

  .between-md {
    justify-content: space-between;
  }

  .first-md {
    order: -1;
  }

  .last-md {
    order: 1;
  }

  .initial-order-md {
    order: initial;
  }
}
@media only screen and (min-width: 992px) {
  .col-lg,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-offset-0,
.col-lg-offset-1,
.col-lg-offset-2,
.col-lg-offset-3,
.col-lg-offset-4,
.col-lg-offset-5,
.col-lg-offset-6,
.col-lg-offset-7,
.col-lg-offset-8,
.col-lg-offset-9,
.col-lg-offset-10,
.col-lg-offset-11,
.col-lg-offset-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: 8px;
    padding-left: 8px;
  }

  .col-lg {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-lg-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .col-lg-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .col-lg-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .col-lg-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .col-lg-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .col-lg-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .col-lg-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-lg-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .col-lg-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .col-lg-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-lg-offset-0 {
    margin-left: 0;
  }

  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }

  [dir="ltr"] .start-lg {
    text-align: left;
  }

  [dir="rtl"] .start-lg {
    text-align: right;
  }

  .start-lg {
    justify-content: flex-start;
  }

  .center-lg {
    justify-content: center;
    text-align: center;
  }

  [dir="ltr"] .end-lg {
    text-align: right;
  }

  [dir="rtl"] .end-lg {
    text-align: left;
  }

  .end-lg {
    justify-content: flex-end;
  }

  .top-lg {
    align-items: flex-start;
  }

  .middle-lg {
    align-items: center;
  }

  .bottom-lg {
    align-items: flex-end;
  }

  .around-lg {
    justify-content: space-around;
  }

  .between-lg {
    justify-content: space-between;
  }

  .first-lg {
    order: -1;
  }

  .last-lg {
    order: 1;
  }

  .initial-order-lg {
    order: initial;
  }
}
@media only screen and (min-width: 1200px) {
  .col-xl,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-offset-0,
.col-xl-offset-1,
.col-xl-offset-2,
.col-xl-offset-3,
.col-xl-offset-4,
.col-xl-offset-5,
.col-xl-offset-6,
.col-xl-offset-7,
.col-xl-offset-8,
.col-xl-offset-9,
.col-xl-offset-10,
.col-xl-offset-11,
.col-xl-offset-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: 8px;
    padding-left: 8px;
  }

  .col-xl {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-xl-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .col-xl-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .col-xl-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-xl-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .col-xl-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .col-xl-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-xl-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .col-xl-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .col-xl-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-xl-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .col-xl-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .col-xl-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-xl-offset-0 {
    margin-left: 0;
  }

  .col-xl-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-xl-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-xl-offset-3 {
    margin-left: 25%;
  }

  .col-xl-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-xl-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-xl-offset-6 {
    margin-left: 50%;
  }

  .col-xl-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-xl-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-xl-offset-9 {
    margin-left: 75%;
  }

  .col-xl-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-xl-offset-11 {
    margin-left: 91.66666667%;
  }

  [dir="ltr"] .start-xl {
    text-align: left;
  }

  [dir="rtl"] .start-xl {
    text-align: right;
  }

  .start-xl {
    justify-content: flex-start;
  }

  .center-xl {
    justify-content: center;
    text-align: center;
  }

  [dir="ltr"] .end-xl {
    text-align: right;
  }

  [dir="rtl"] .end-xl {
    text-align: left;
  }

  .end-xl {
    justify-content: flex-end;
  }

  .top-xl {
    align-items: flex-start;
  }

  .middle-xl {
    align-items: center;
  }

  .bottom-xl {
    align-items: flex-end;
  }

  .around-xl {
    justify-content: space-around;
  }

  .between-xl {
    justify-content: space-between;
  }

  .first-xl {
    order: -1;
  }

  .last-xl {
    order: 1;
  }

  .initial-order-xl {
    order: initial;
  }
}
@media only screen and (max-width: 575px) {
  .hidden-xs {
    display: none;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .hidden-sm {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hidden-md {
    display: none;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hidden-lg {
    display: none;
  }
}
@media only screen and (min-width: 1200px) {
  .hidden-xl {
    display: none;
  }
}
/*!**********************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/styles/index.scss ***!
  \**********************************************************************************************************************************************************/
@font-face {
  font-family: "Peachy Mochi";
  src: url(9dfacce9fd75058b5be7.ttf);
}
@font-face {
  font-family: "Hanged Letters";
  src: url(0999fa295ac0fce60694.ttf);
}
@font-face {
  font-family: "Hungry Charlie Bold";
  src: url(478009e3e99bfb008bb9.ttf);
}
@font-face {
  font-family: "Hungry Charlie Serif";
  src: url(251d8923e0f25966e45a.ttf);
}
@font-face {
  font-family: "JMH Typewriter";
  src: url(cfe2f95116145cd7bacf.ttf);
}
@font-face {
  font-family: "JMH Typewriter Black";
  src: url(833ea44b830f2d1fbb2e.ttf);
}
@font-face {
  font-family: "JMH Typewriter Bold";
  src: url(ba1b92688cda05db2697.ttf);
}
@font-face {
  font-family: "JMH Typewriter Thin";
  src: url(a54c0ca98281ddd76d83.ttf);
}
@font-face {
  font-family: "Edosz";
  src: url(0be6a7a25374d83f251f.ttf);
}
@media (max-width: 800px) {
  svg {
    height: 130px;
  }

  .text-line {
    font-size: 250px;
    width: 300px;
    height: 100px;
  }

  .left-section {
    width: 100%;
  }

  .right-section {
    width: 100%;
  }

  .side-nav, .information-display {
    height: 530px;
    padding: 10px 0;
  }

  .section {
    width: 90%;
    height: 25%;
    margin: 0 5%;
  }
}
@media (max-width: 992px) and (min-width: 768px) {
  svg {
    height: 90px;
  }

  .text-line {
    font-size: 250px;
    width: 300px;
    height: 100px;
  }

  .side-nav, .information-display {
    height: 500px;
    padding: 10px 0;
  }

  .section {
    width: 90%;
    height: 25%;
    margin: 0 5%;
  }
}
@media (max-width: 1999px) and (min-width: 993px) {
  svg {
    height: 90px;
  }

  .text-line {
    font-size: 250px;
    width: 300px;
    height: 120px;
  }

  .side-nav, .information-display {
    height: 530px;
    padding: 10px 0;
  }

  .section {
    width: 90%;
    height: 25%;
    margin: 0 5%;
  }
}
@media (min-width: 1200px) {
  svg {
    height: 120px;
  }

  .text-line {
    font-size: 250px;
    width: 300px;
    height: 100px;
  }

  .side-nav, .information-display {
    height: 530px;
    padding: 10px 0;
  }

  .section {
    width: 90%;
    height: 25%;
    margin: 0 5%;
  }
}
body {
  font-family: "JMH Typewriter Thin";
  margin: 0;
}

[data-paper] {
  background-image: url(f0c1ac672d5722f74369.jpeg);
  background-size: cover;
}

[data-paper-l] {
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(f0c1ac672d5722f74369.jpeg);
  background-size: cover;
}

.divider {
  background-color: white;
}

hr {
  background-color: white;
}

.dark h1 {
  color: #f0c846;
}
.dark i, .dark a {
  color: white;
}
.dark.old-content {
  background-color: #323232;
  color: white;
}
.dark.old-content .header {
  background-color: #464646;
  border-bottom: solid 1px #646464;
}
.dark.old-content .side-nav {
  background-color: #464646;
}
.dark.old-content .left-section, .dark.old-content .right-section {
  border-left-color: #646464;
  border-right-color: #646464;
}
.dark.old-content .information-display {
  background-color: #464646;
  text-shadow: #323232 1px 1px;
}
.dark.old-content .external-site-button {
  background-color: #323232;
  box-shadow: 5px 5px #f0c846, 10px 10px #323232;
}
.dark.old-content .external-site-button:hover {
  box-shadow: 5px 5px #323232, 10px 10px #f0c846;
  color: #f0c846;
  -webkit-animation: dark 1.5s infinite;
          animation: dark 1.5s infinite;
}
.dark.old-content .links {
  color: #f0c846;
}
.dark.old-content .links:hover {
  -webkit-animation: dark 1.5s infinite;
          animation: dark 1.5s infinite;
}
.dark.old-content .links:visited {
  color: #f0c846;
}
.dark.old-content .footer {
  background-color: #464646;
  border-top-color: #646464;
  text-shadow: #323232 1px 1px;
}
.dark.old-content .text-copy {
  fill: #f0c846;
}

.light h1 {
  color: #46a2f0;
}
.light i, .light a {
  color: white;
}
.light.old-content {
  background-color: white;
  color: #323232;
}
.light.old-content .header {
  background-color: #f7f7f7;
  border-bottom: solid 1px #e2e2e2;
}
.light.old-content .side-nav {
  background-color: #f7f7f7;
}
.light.old-content .left-section, .light.old-content .right-section {
  border-left-color: #e2e2e2;
  border-right-color: #e2e2e2;
}
.light.old-content .information-display {
  background-color: #f7f7f7;
}
.light.old-content .external-site-button {
  background-color: white;
  box-shadow: 5px 5px #46a2f0, 10px 10px white;
}
.light.old-content .external-site-button:hover {
  box-shadow: 5px 5px white, 10px 10px #46a2f0;
  color: #46a2f0;
  -webkit-animation: light 1.5s infinite;
          animation: light 1.5s infinite;
}
.light.old-content .links {
  color: #46a2f0;
}
.light.old-content .links:hover {
  -webkit-animation: light 1.5s infinite;
          animation: light 1.5s infinite;
}
.light.old-content .links:visited {
  color: #46a2f0;
}
.light.old-content .footer {
  background-color: #f7f7f7;
  border-top-color: #e2e2e2;
}
.light.old-content .text-copy {
  fill: #46a2f0;
}

.old-content {
  text-align: center;
  font-size: 1.5rem;
  font-family: "Sorts Mill Goudy", serif;
  font-style: italic;
  padding: 5px;
  height: 100vh;
}
.old-content .header {
  height: 70px;
}
.old-content .left-section, .old-content .right-section {
  border-right: solid 1px;
  border-left: solid 1px;
  margin-top: 10px;
}
.old-content hr.line-break {
  border: 0;
  height: 1px;
  position: relative;
  margin: 0;
  margin-top: 15px;
}
.old-content .information-display {
  padding: 10px 20px;
  overflow: scroll;
}
.old-content .information-display h1 {
  font-size: 32px;
}
.old-content .footer {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  font-size: 24px;
}

.flex-center-both, .external-site-button, .external-site-button:visited, .external-site-button:link, .external-site-button:hover, .old-content .side-nav .section {
  display: flex;
  align-items: center;
  justify-content: center;
}

@-webkit-keyframes light {
  0% {
    color: #46a2f0;
  }
  50% {
    color: white;
  }
  100% {
    color: #46a2f0;
  }
}

@keyframes light {
  0% {
    color: #46a2f0;
  }
  50% {
    color: white;
  }
  100% {
    color: #46a2f0;
  }
}
@-webkit-keyframes dark {
  0% {
    color: #f0c846;
  }
  50% {
    color: white;
  }
  100% {
    color: #f0c846;
  }
}
@keyframes dark {
  0% {
    color: #f0c846;
  }
  50% {
    color: white;
  }
  100% {
    color: #f0c846;
  }
}
.external-site-button, .external-site-button:visited, .external-site-button:link, .external-site-button:hover {
  margin: 10px;
  height: 35px;
  width: 100px;
  margin: 10px auto;
  text-align: center;
  font-size: 35px;
  padding: 3px;
  line-height: 0;
}

.external-site-button:hover {
  transition: all 0.5s ease-out;
}

.external-site-button:visited, .external-site-button:link {
  transition: all 0.5s ease-out;
}

.text-copy {
  font-weight: 100;
  width: 100px;
  height: 20px;
}

.text-copy:hover {
  stroke-dasharray: 20% 80%;
  stroke-width: 20px;
  -webkit-animation: stroke-offset 2s linear infinite;
          animation: stroke-offset 2s linear infinite;
}
.text-copy:hover:nth-child(1) {
  stroke: #46a2f0;
  stroke-dashoffset: 20%;
}
.text-copy:hover:nth-child(2) {
  stroke: white;
  stroke-dashoffset: 40%;
}
.text-copy:hover:nth-child(3) {
  stroke: white;
  stroke-dashoffset: 60%;
}
.text-copy:hover:nth-child(4) {
  stroke: white;
  stroke-dashoffset: 80%;
}
.text-copy:hover:nth-child(5) {
  stroke: white;
  stroke-dashoffset: 100%;
}

@-webkit-keyframes stroke-offset {
  50% {
    stroke-dashoffset: 100%;
    stroke-dasharray: 0 250%;
  }
}

@keyframes stroke-offset {
  50% {
    stroke-dashoffset: 100%;
    stroke-dasharray: 0 250%;
  }
}
.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
  display: none;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
  display: none;
}

.interests-icon {
  font-size: 64px;
}

/*# sourceMappingURL=main.css.map*/