$off-black: #323232;
$off-white: #f7f7f7;
$lighter-grey: #e2e2e2;
$grey: #646464;
$gold: #f0c846;
$dark-grey: #464646;
$light-grey: #a0a0a0;
$light-blue: #46a2f0;


$light-primary: white;
$light-secondary: $off-white;
$light-tertiary: $lighter-grey;
$light-text-primary: $off-black;
$light-highlight-primary: $light-blue;
$light-highlight-secondary: white;

$dark-primary: $off-black;
$dark-secondary: $dark-grey;
$dark-tertiary: $grey;
$dark-text-primary: white;
$dark-highlight-primary: $gold;
$dark-highlight-secondary: white;